
<% @blog_post_docs.each do |doc| %>
  <a href='<%= "blog/#{doc.uid}" %>'>
    <img src="<%= doc.fragments['title-image-small'].main.url %>" />
    <p> <%= doc.fragments['title'].blocks.first.text %> </p>
  </a>
<% end %>
