// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  .site-header {
    text-align: center;
    padding-top: 4rem;
    font-size: 115%;
    @media (min-width: 600px) {
      font-size: 150%;
    }

    a {
      text-decoration: none;
      color: #333;
    }
    a:hover {
      color: #555;
      opacity: .75;
    }

    h1 {
      font-size: 3em;
      font-weight: 300;
      margin: .25rem;
    }

    h3, h4, h5 {
      color: #777;
    }

  }

  .fill-view-height {
    min-height: calc(100vh + 5rem);
  }

  .overflow-x-scroll {
    overflow-x: scroll;
  }

  .float-left {
    float: left;
    margin-right: 2rem;
  }
  
  .float-right {
    float: right;
    margin-left: 2rem;
  }

  .padding-device-safe-area {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}
