// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog {
  > img {
    width: 100%;
    max-height: 45rem;
    object-fit: cover;
    vertical-align: middle;
  }

  .blog-content {

    .blog-fragment {
      overflow: hidden;

      h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
      }

      h1 {
        font-size: 3.5rem;
        margin-top: 5rem;
      }

      h3 {
        font-size: 2.52rem;
        color: #777;
      }

    }


    p {
      font-family: serif;
      text-align: justify;
      font-size: 2rem;
    }

  }
}
