// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  .home {

    .intro {
      font-family: Courier New,Courier,monospace;
      margin-top: 3rem;
      margin-bottom: 6rem;
      text-align: justify;
      font-size: 2rem;
      p:before { content: "// "; }
    }

    .title {
      font-weight: 600;
    }

    .blog-listing {
      border-radius: 1rem 1rem 0 0;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        vertical-align:middle;
      }

      a {
        text-decoration: none;
        color: #333;
      }

      h1, h3 {
        letter-spacing: .025rem;
      }

      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.62rem;
      }
    }

  }
}
