
<a rel="me" href="<%= social_link["url"] %>" class="social-link">
  <img src="<%= social_link["icon_url"] %>" alt="<%= 'Link to ' + social_link["title"] %>" />
  <span class="sr-only"><%= social_link["title"] %></span>
</a>
